@charset "utf-8";
@import url("header.css");
@import url("footer.css");
@import url("scroll.css");

/* Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #f8f8f8;
    color: #1E4428;
}

/* Portada */
.principal {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.principal-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Historia */
.historia {
    padding: 30px 20px;
    height: 100%;
    text-align: left;
}

.historia h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.historia-img {
    margin-top: 20px;
}

.historia-img img {
    width: 100%;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Valores */
.valores {
    background: #d9f5c1;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.valores h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.valores-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 15px;
}

.valor {
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.valor i {
    font-size: 24px;
    color: #4CAF50;
}


/* Parcelas */
.parcelas {
    padding: 30px 20px;
    text-align: left;
}

.parcelas h2 {
    font-size: 32px;
}

.parcelas-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.parcelas-img img {
    width: 100%;
    height: auto;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE */
@media screen and (min-width: 1024px) {
    .principal {
        height: 300px;
        width: 100%;
    }
    .principal-img {
        width: 100%;
    }

    .historia {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 20px;
    }

    .historia-texto {
        width: 100%;
        padding: 0px 40px;
    }
    .historia-img{
        width: 100%;
        height: 400px;
    }
    .historia-img img{
        width: 75%;
        height: inherit;
        border-radius: 40px;
    }

    .valores h2 {
        text-align: center;
    }

    .valores-container {
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .valor {
        width: 30%;
    }

    .parcelas {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .parcelas-texto {
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }

    .parcelas-img {
        width: 100%;
        height: 400px;
    }
    .parcelas-img img{
        width: 75%;
        height: inherit;
        border-radius: 40px;
    }
}
