:root {
    --color-primario: #14532D;
    --color-secundario: #BF1A1A;
    --color-blanco: white;
    font-family: "Poppins", Arial, sans-serif;
}

/* Header */
header {
    background-color: var(--color-primario);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

/* Logo */
.logo img {
    margin-left: 20px;
    height: 40px;
}

/* nav */
nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--color-primario);
    padding: 15px 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

nav.active {
    border-top: 1px solid var(--color-blanco);
    display: flex;
    padding: 20px;
    background-color: var(--color-primario);
    transform: translateY(0);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--color-blanco);
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--color-blanco);
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover {
    color: rgb(224, 224, 224);
}

nav ul li a:hover::after {
    width: 100%;
}

/* Boton hamburguesa */
.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 30px;
    color: var(--color-blanco);
    cursor: pointer;
}

/* Acciones */
.actions {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 150px;
}

.btn-reserva {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    text-decoration: none;
}

.btn-reserva:hover {
    background-color: #d82020;
}

.social-icons a {
    color: var(--color-blanco);
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
}

.language select {
    background: transparent;
    border: none;
    font-size: 14px;
    color: var(--color-blanco);
}

.language option {
    border: none;
    font-size: 14px;
    color: black;
    background: rgba(255, 255, 255, 0.253);
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo img {
        margin-left: 80px;
    }

    .menu-toggle {
        display: none;
    }

    nav {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }

    nav ul {
        display: flex;
        gap: 20px;
    }

    .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width: 767px) {
    nav.active {
        display: flex;
        transform: translateY(0);
    }
}
